<tabset>
    <tab heading="Personal Details">
        <div class="eserv_form form-horizontal">
            <div class="col-lg-2">
                <img class="img-responsive" src="{{ asset ('clients/'~ app_client ~'/themes/'~ app_theme ~'/images/forms/profile_no_photo_female.png') }}">
            </div>
            <div class="col-lg-10">
                <div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Username</label>
                        <div class="col-lg-4 text_only">
                            {{ fos_user.username }}
                        </div>
                    </div>
                    {% if fos_user.email != '' %}
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-4 text_only">
                                <a href="mailto:{{ fos_user.email }}">{{ fos_user.email }}</a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Last Login</label>
                        <div class="col-lg-4 text_only">
                            {{ fos_user.last_login }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </tab>
</tabset>