{% set formID = 'updateChangePassword' %}

<h3><i class="fa fa-key"></i> {{ 'Change Password' | trans }}</h3>
    {% include 'ESERVMAINHelpersBundle:Form:required_msg.html.twig' with {'viewMode': 'view'} %}
<div id="eserv_{{ formID }}_output"></div>

{{form_start(form, { 'action': path('fos_user_eserv_change_password'), 'attr' : { 'id': formID, 'class': 'eserv_form form-horizontal eserv_form_editable' } })}}

<div class="eserv_container_form_errors"></div>

<fieldset>
    {{ form_eservRow(form.current_password, {'fieldSize': 4, 'attr': {'class': 'form-control', 'customPlaceHolder': '********'} }) }}
    {{ form_eservRow(form.plainPassword.first, {'fieldSize': 4, 'attr': {'class': 'form-control', 'customPlaceHolder': '********'} }) }}
    {{ form_eservRow(form.plainPassword.second, {'fieldSize': 4, 'attr': {'class': 'form-control', 'customPlaceHolder': '********'} }) }}
</fieldset>

<fieldset class="eserv_form_btns">
    <div class="form-group">
        <div class="">        
            <a id="cancel_{{ formID }}_btn" class="btn btn-danger pull-left direction1" ui-sref="dashboard">{{ 'Cancel' }}</a>
            <input type="submit" class="btn btn-primary pull-right direction2" value="{{ 'Save'|trans }}" />
            <input class="btn btn-default pull-right direction2" value="{{ 'Reset' | trans }}" type="reset" id="_reset"/>
        </div>
    </div>        
</fieldset> 

<div style="display: none">
    {{ form_rest(form) }}
</div>

{{form_end(form)}}

<script type="text/javascript">
    $(document).ready(function () {
        prepareAppForms('{{ form.vars.name }}', false, false, {ui_state: true, state: 'dashboard'}, '{{ formID }}');
    });
</script>

