{# empty Twig template #}
{% use "form_div_layout.html.twig" %}


{% block form_row %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        <div class="form-group">
            {{ form_label(form, null, {'label_attr': {'class': 'col-lg-4 control-label'} }) }}
            <div class="col-lg-5">
                <div class="eserv_field_value view">{{ form.vars.value }}</div>
                {{ form_widget(form, {'attr': {'class': 'form-control eserv_field_value edit', 'placeholder': 'DD/MM/YYYY'} }) }}
            </div>
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_eservRadio %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        {% for index, child in form %}
            {% if child.vars.value != null %}
            <div class="radio">
                <label> 
                    {{ form_widget(child) }}
                    {{ child.vars.label|trans }}
                </label>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock form_eservRadio %}