<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ app_client_short_name }} - {{ 'Login' | eserv_trans }}</title>
        <link rel="shortcut icon" href="{{ asset ('common/assets/images/icons/favicon.ico') }}" />

		{% set NOW = "now" | date('U') %}
	
        {#
        {% stylesheets '@merlin_login_css' filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}?v={{ app_version }}_{{ NOW }}" />
        {% endstylesheets %}
        #}
        
        <link href="{{ asset ('common/assets/libs/bootstrap/css/bootstrap.min.css') }}?v={{ app_version }}_{{ NOW }}" rel="stylesheet" />
        <link href="{{ asset ('common/assets/libs/bootstrap/css/bootstrap-theme.min.css') }}?v={{ app_version }}_{{ NOW }}" rel="stylesheet" />
        <link href="{{ asset ('common/assets/libs/font-awesome/css/font-awesome.min.css') }}?v={{ app_version }}_{{ NOW }}" rel="stylesheet" />
        <link href="{{ asset ('common/assets/libs/merlin/css/mtl_eserv.css') }}?v={{ app_version }}_{{ NOW }}" rel="stylesheet" />
		
        <link href="{{ asset ('common/assets/css/themes/'~ app_theme ~'/main.css') }}" rel="stylesheet" />
        <link href="{{ asset ('clients/'~ app_client ~'/themes/'~ app_theme ~'/css/client_main.css') }}" rel="stylesheet" />
        <link href="{{ asset ('clients/'~ app_client ~'/themes/'~ app_theme ~'/css/default.css') }}" rel="stylesheet" />

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body class="login_bg">
        <img src="{{ asset ('clients/'~ app_client ~'/themes/'~ app_theme ~'/images/bgs/login_screen_pattern.png') }}" class="login_screen_pattern" />
        <div id="eserv_main_loader" class="eserv_main_loader" style="display: none">
            <div class="sk-wave">
                <div class="sk-rect sk-rect1"></div>
                <div class="sk-rect sk-rect2"></div>
                <div class="sk-rect sk-rect3"></div>
                <div class="sk-rect sk-rect4"></div>
                <div class="sk-rect sk-rect5"></div>
            </div>
            <div class="processing">{{ 'Logging in...' | trans }}</div>
        </div>
        <div class="container" style="width: 100%;">
            <div class="">
                <div class="signin_form_wrapper center-block">
                    <div class="signin_logo">
                        <span class="brand_logo signin"></span>
                    </div>
                    <div class="login_header">
                        {#
                        <h3 class="title">
                            <i class="fa fa-lock"></i> {{ 'Login' | trans }}
                        </h3>
                        #}
                        <div class="login_header_signin"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div id="eserv_login_form_errors_container" class="alert alert-danger alert-dismissable" style="display: {% if error %}block{% else %}none{% endif %};margin-bottom: 0;">
                        <div class="icon"><i class="fa fa-times-circle"></i></div>
                        <div id="eserv_login_form_errors"> {% if error %}{{ error|trans }}{% endif %}</div>
                    </div>
                    <div class="signin_form_container">
                        <form id="eserv_main_login_form" action="{{ path("fos_user_security_check") }}" method="post" class="form form-horizontal" autocomplete="off">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <div class="content">
                                <div class="form-group" style="margin-bottom: 1px;">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                            <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" placeholder="Username" required="required" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                            <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required="required" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="foot">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="checkbox checkbox-warning remember_me_login" style="text-align: left">
                                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                            <label for="remember_me">Remember Me</label>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" id="_submit" data-dismiss="modal" class="btn btn-client2 btn-lg btn-block text-center" name="_submit" value="SIGN IN" />
                                {% if facebook_login is defined and facebook_login['enabled'] is defined and facebook_login['enabled'] %}
                                    <div class="clearfix"></div>
                                    <div class="alternative_login_msg">
                                        {{ 'Or login with your Facebook account' | trans }}
                                    </div>
                                    <div class="clearfix"></div>
                                    <button type="button" id="facebook_button" data-scope="email" style="background: #4763B3" class="btn btn-default btn-lg btn-block text-center fb-login-button" data-size="medium" onLogin="checkLoginState();"></button>
                                {% endif %}
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                        <div class="bottom"></div>
                    </div>
                </div>
            </div>
        </div>

        {% if facebook_login is defined and facebook_login['enabled'] is defined and facebook_login['enabled'] %}
        <script src="{{ asset ('common/assets/js/fb.js') }}"></script>
        {% endif %}
        {#
        {% javascripts '@merlin_login_js' %}
        <script type="text/javascript" src="{{ asset_url }}?v={{ app_version }}_{{ NOW }}"></script>
        {% endjavascripts %}
        #}
        <script type="text/javascript" src="{{ asset ('common/assets/libs/jquery/jquery.min.js') }}?v={{ app_version }}_{{ NOW }}"></script>
        <script type="text/javascript" src="{{ asset ('common/assets/libs/jquery-form/jquery.form.js') }}?v={{ app_version }}_{{ NOW }}"></script>
        <script type="text/javascript">
            var rootURL = '{{ path ('eserv_home_homepage') }}';
            var domain = '';
            {% if facebook_login is defined and facebook_login['enabled'] is defined and facebook_login['enabled'] %}
            var facebookLoginURL = '{{ path('fos_user_facebook_login') }}';
            {% endif %}
            var CurrentFontSize = '100';
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                var isAuthenticated = true;
            {% else %}
                var isAuthenticated = false;
            {% endif %}

                var options = {
                    beforeSubmit: processLogin,
                    success: LoginResult
                };

                $('#eserv_main_login_form').ajaxForm(options);

                function processLogin(formData, jqForm, options) {
                    $('.eserv_main_loader').show();
                    $('#eserv_login_form_errors_container').hide();
                    return true;
                }

                function LoginResult(responseText, statusText, xhr, $form) {
                    if (responseText.success) {
                        $('#eserv_login_form_errors').html('Login successful. Redirecting..');
                        $('#eserv_login_form_errors_container')
                                .removeClass('alert-danger')
                                .addClass('alert-success');
                        $('#eserv_login_form_errors_container').find('i.fa')
                                .removeClass('fa-times-circle')
                                .addClass('fa-check-circle');
                        $('#eserv_login_form_errors_container').show();

                        $('.eserv_main_loader').find('.processing').html('<i class="fa fa-check-circle"></i> Login successful. Redirecting..');
                        var currentPath = document.URL;
                        window.location.replace(currentPath.replace('login', ''));
                    } else {
                        $('.eserv_main_loader').hide();
                        $('#eserv_login_form_errors').html(responseText.message);
                        $('#eserv_login_form_errors_container').show();
                    }
                }
        </script>

    </body>
</html>