<h3>{{ 'Edit Footer' | trans }}</h3>    
{% include 'ESERVMAINHelpersBundle:Form:required_msg.html.twig' with {'viewMode': 'view'}  %}

<div id="eserv_editFooter_output"></div>
{{form_start(form, { 'attr' : { 'id': 'editFooter' } })}}

<fieldset>
    <div class="form-group ">
        <label class="col-lg-3 control-label" >Code</label>
        <div class="col-lg-5">
            <div style="padding: 3px 0;">{{ form.code.vars.value }}</div>
        </div>
    </div>
    {{ form_eservRow(form.name , {'labelSize':3,'customPlaceHolder' : '', 'fieldSize':4 }) }}
    {{ form_eservSelectRow(form.language , {'labelSize':3, }) }}
    {% include 'ESERVMAINHelpersBundle:Form:eserv_ckeditor_field_layout.html.twig' with { 'labelSize':3, 'form_field': form.content} %}
</fieldset>
<fieldset>
    {% include 'ESERVMAINHelpersBundle:Form:form_general_btns.html.twig' with { 'form_save' : form.save, 'hide_edit_button' : true, 'hide_cancel' : true, 'cancel_link' : true,  'cancelHref' : '#/admin/templates', 'closeBtnId' : 'cancel_EditFooterr_btn' } %}                                                                             
</fieldset>

<div style="display: none"> 
    {{ form_rest(form) }}
</div>
{{form_end(form)}}  

<script type="text/javascript">
   $(document).ready(function () {
        prepareAppForms('{{ form.vars.name }}', false, false, '#/admin/templates');
    });
</script>