<div id="eserv_updateEmployer_output"></div>
{% include 'ESERVMAINHelpersBundle:Form:required_msg.html.twig' %}
{{form_start(form, { 'attr' : { 'id': 'updateEmployer' } })}}

<h3 class="">General info</h3>

<fieldset>

    {{ form_eservRow (form.code, { 'fieldSize': 2, 'customPlaceHolder': '' }) }}
    {{ form_eservRow (form.name, { 'customPlaceHolder': 'English Name' }) }}    
    {% include 'ESERVMAINHelpersBundle:Form:alt_languages_edit.html.twig' with { 'alt_languages' : alt_languages, 'existing_alt_languages_equivs' : existing_alt_languages_equivs} %}    
    {{ form_eservSelectRow (form.type) }}
    {#{{ form_eservSelectRow (form.consortium) }}#}    
    <div id="voluntary_org" style="display:{{ form.type.vars.value == yo_app_code_id ? 'block' : 'none'}};">       
        {{ form_eservRow(form.volunteerOrg, { 'isCheckbox': 'true', 'fieldSize' : 1 }) }}  
    </div>
    {{ form_eservRow(form.consortium, { 'fieldSize' : '8', 'isAutocomplete': true, 'acValues': ac_values_arr is defined ? ac_values_arr['consortium_ac'] : false }) }}    

</fieldset>
<h3 class="">Contact Info </h3>

<fieldset>
    <span class="postCodeLookupArea">
        {{ form_eservPostCodeLookup (form.postcode) }}
        {% include 'ESERVMAINHelpersBundle:Form:eserv_address_selector.html.twig' %}
        {{ form_eservRow (form.address1, { 'extraGroupClass': 'target', 'extraFieldClass': 'street', 'customPlaceHolder': 'i.e. Flat 4', 'fieldSize': 4}) }}
        {{ form_eservRow (form.address2, { 'extraGroupClass': 'target', 'extraFieldClass': 'ad2', 'fieldSize': 4  }) }}
        {{ form_eservRow (form.address3, { 'extraFieldClass': 'ad3', 'fieldSize': 4 }) }}
        {{ form_eservRow (form.town, { 'extraFieldClass': 'town', 'fieldSize': 4 }) }}
        {{ form_eservRow (form.county, { 'extraFieldClass': 'county', 'fieldSize': 4 }) }}     
    </span>

    {#{ form_eservSelectRow (form.phoneType) }#}
    {{ form_eservRow (form.phoneNumber, { 'fieldSize': 4, 'customPlaceHolder': '' }) }}
    {{ form_eservRow (form.webAddress, { 'fieldSize': 4, 'customPlaceHolder': '' }) }}
    
    {{ form_eservRow (form.dateOpened, { 'fieldType': 'date', 'customPlaceHolder': 'DD/MM/YYYY' }) }}
    {{ form_eservRow (form.dateClosed, { 'fieldType': 'date', 'customPlaceHolder': 'DD/MM/YYYY' }) }}
</fieldset>

<fieldset>
    {% include 'ESERVMAINHelpersBundle:Form:form_general_btns.html.twig' with { 'form_save' : form.save } %}
</fieldset>
{{ form_rest(form) }}
{{form_end(form)}}

<script type="text/javascript">
    $(document).ready(function() {               
        prepareAppForms('{{ form.vars.name }}', true, {
                type: 'portlet',
                status: 'current'
            }, false, 'updateNewEmployer');
            
        $('#{{ form.postcode.vars.id }}').keyup(function () {
            AddressValidationLoc();            
        });
        $('#{{ form.address1.vars.id }}').keyup(function () {
            AddressValidationLoc();            
        });
        $('#{{ form.address2.vars.id }}').keyup(function () {
            AddressValidationLoc();            
        });
        $('#{{ form.address3.vars.id }}').keyup(function () {
            AddressValidationLoc();            
        });
        $('#{{ form.town.vars.id }}').keyup(function () {
            AddressValidationLoc();            
        });
        $('#{{ form.county.vars.id }}').keyup(function () {
            AddressValidationLoc();            
        }); 
        $('.eservEditBtn').on("click", function(){ 
            AddressValidationLoc();
        });        
        
        $('#{{form.type.vars.id}}').on('change', function(){
            var emp_type = $(this).val();            
            if(emp_type == '{{ yo_app_code_id }}'){
                $('#voluntary_org').show();
            }else{
                $('#{{form.volunteerOrg.vars.id}}').prop('checked', false);
                $('#voluntary_org').hide();
            }
        });
        
    });
    
    function AddressValidationLoc(){ 
        var postcodeF = $('#{{ form.postcode.vars.id }}');
        var addressLine1F = $('#{{ form.address1.vars.id }}');
        var addressLine2F = $('#{{ form.address2.vars.id }}');
        var addressLine3F = $('#{{ form.address3.vars.id }}');
        var townF = $('#{{ form.town.vars.id }}');
        var countyF = $('#{{ form.county.vars.id }}');
        AddressValidation(postcodeF,addressLine1F,addressLine2F,addressLine3F,townF,countyF);        
    }
</script>
